.*.callgrind.out.*
Makefile*
*.pro.user*
*.qmlproject.user*
.*.swp
*.o
*.moc
*.pdb
.qmake.cache
qrc_*.cpp
moc_*.cpp
.obj/
.moc/
mkspecs/
lib/
include/
bin/
/plugins/
rtimulib
.pch/
QtSenseHat.version
QtSenseHat.version.*
config.log
